
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barcode</title>
    <style>
        svg{
            width: 500px;
        }
        body{
            text-align: center;
            padding: 20px;
        }
    </style>
</head>
<body>
    <div style="align-items: center;">
        <%- qr %>
    </div>
    <div>
        Your status is  <span style="color:red">  <%- status %> </span> <br>
        please click on refresh to check thestatus</span>  <a href="/">Refresh</a> <br>

        <% if(status == "ready") { %>
        <a href="/end">Logout</a>
        <% } %>
       
    </div>


</body>
</html>